<!DOCTYPE html>
<html>
<head>
        {% load static %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href={% static 'css/register.css' %}>
        <title> STUDENT | register </title> 
        <style>
        body{
            background: lightblue; 
        }
        </style>
</head>
<body>
{% include 'main/navbar.html' %} 
            <div class="container register">
                 {% comment %}
                {% if messages%}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show bg-inherit" role="alert">
                  <strong></strong> {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor %}
              {% endif %} {% endcomment %}
                <div class="row">
                    <div class="col-md-3 col-12 register-left">
                        <img src="https://th.bing.com/th/id/R.777a724279a813f1a14ebb55c79a21c7?rik=1jOEZunHgxHsjQ&pid=ImgRaw&r=0" alt=""/>
                        <h3>Welcome</h3>
                        <p>Register to acces books in the Library</p>
                        <p>Alredy have an account? </p>
                        <a  href="{% url 'login_student' %}"><input type="button" value="Login"/></a>
                    </div>
                <div class="col-md-9 register-right">
                    <form action="{% url 'register' %}" method=POST>
                            {% csrf_token %}
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Register</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="first_name" placeholder="First Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="last_name" placeholder="Last Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="reg_no" placeholder="Your registration number *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" placeholder="Your Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" name="phone" class="form-control" placeholder="Your Phone *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="male" checked>
                                                    <span> Male </span> 
                                                </label>
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="female">
                                                    <span>Female </span> 
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password1" placeholder="Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password2" placeholder="Confirm Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            {% comment %} <select class="form-control">
                                                <option class="hidden"  selected disabled>Please select your course</option>
                                                <option ><input name="course"> Computer Science </input></option>
                                                <option ><input name="course">Software Engineering</input></option>
                                                <option ><input name="course">Information Systems</input></option>
                                            </select> {% endcomment %}
                                            <input type="text" name="course" class="form-control" placeholder="Enter Your course *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="username" class="form-control" placeholder="Enter Your username *" value="" />
                                        </div>
                                            <input type="submit" class="btnRegister"  value="Register"/>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
